<nav class="main navbar container">
  <ul class="logo">
    <fa-icon [icon]="faBrush"></fa-icon>
    <h1 class="title">Brush&Paint</h1>
  </ul>
  <ul routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/']">Главная</a>
  </ul>
  <ul routerLinkActive="active">
    <a [routerLink]="['/', 'catalog']">Каталог</a>
  </ul>
  <ul routerLinkActive="active">
    <a [routerLink]="['/', 'about']">О нас</a>
  </ul>
  <ul routerLinkActive="active">
    <a [routerLink]="['/', 'cart']"><fa-icon class="nav-icon" [icon]="faCart"></fa-icon></a>
  </ul>
  <ul routerLinkActive="active">
    <a [routerLink]="['/', 'profile']"><fa-icon class="nav-icon" [icon]="faUser"></fa-icon></a>
  </ul>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
