<app-auth [isShow]="isShow" (hideAuth)="hideAuth()"></app-auth>

<nav class="main navbar container">
  <ul class="logo">
    <fa-icon [icon]="faBrush"></fa-icon>
    <h1 class="title">Brush&Paint</h1>
  </ul>
  <ul routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/']">Главная</a>
  </ul>
  <ul routerLinkActive="active">
    <a [routerLink]="['/', 'catalog']">Каталог</a>
  </ul>
  <ul routerLinkActive="active">
    <a [routerLink]="['/', 'about']">О нас</a>
  </ul>
  <ul routerLinkActive="active">
    <a [routerLink]="['/', 'cart']"><fa-icon class="nav-icon" [icon]="faCart"></fa-icon></a>
  </ul>
  <ul routerLinkActive="active">
    <div
      *ngIf="!auth.isAuthenticated(); else logout"
      (click)="onShowAuth()"
      class="enter"
    >
      <mat-icon class="door"><span class="material-icons-outlined">login</span></mat-icon>
    </div>

    <ng-template #logout>
      <div
        (click)="logoutHandler()"
        class="enter"
      >
        <mat-icon><span class="material-icons-outlined">logout</span></mat-icon>
      </div>
    </ng-template>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
